@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/ptsans-400.woff2) format("woff2");
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(../fonts/ptsans-700.woff2) format("woff2");
}

html {
  height: 100%;
}


body {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  height: 100%;
  width: 1200px;
  padding: 0 40px;
  margin: 0 auto;
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
}

.page-container {
  width: 1200px;
  margin: 0 auto;
  background-color: #fff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}


.button {
  cursor: pointer;

  text-decoration: none;

  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  color: #fff;

  background-color: #756157;

  display: block;

  box-sizing: border-box;

  border: 0;
  border-radius: 4px;

  padding: 8px 26px;

  outline: none;
}

.button:hover,
.button:focus {
  background-color: #615048;
}

.button:active {
  color: rgba(255, 255, 255, 0.3);
}

.button:disabled {
  background-color: #E5E5E5;
}

/* Header */

.main-header {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;

  min-height: 64px;

  display: flex;

  position: relative;

  z-index: 1;


}

.main-logo-link {
  margin: 0;
  position: absolute;
  left: 70px;

}

.main-logo {
  display: inline-block;
  vertical-align: middle;
}

.navigation {

  display: flex;
  justify-content: space-between;
  width: 100%;
}

.navigation-list {
  list-style: none;
  padding: 0;
  margin: 0 0 0 238px;
  display: flex;
}

.navigation-list-item {
  padding: 20px 16px;
}

.navigation-list-curent-item {
  border-bottom: 2px solid #756257;
}

.navigation-link {
  color: #000;
  text-decoration: none;
  padding: 20px 0 18px 0;
  box-sizing: border-box;
}

.navigation-user-list  {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;

  list-style: none;

  padding: 0;
  margin: 0 70px 0 0;
  height: 100%;
  display: flex;
}

.navigation-user-list-item {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 44px;

  position: relative;
}


.favorites-number {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;

  position: absolute;
  left: 19px;
  top: 12px;

  font-weight: 400;
  font-size: 10px;
  line-height: 10px;
  color: #fff;
  background-color: #7db54f;
  border-radius: 10px;
}

.navigation-user-list-item img {
  display: inline-block;
  vertical-align: middle;
}

.navigation-link-button {
  color: #fff;
  padding: 8px 34px;
  max-width: 160px;
  margin-left: 20px;
}


/* main (index)*/

.main-index {
  text-align: center;
}

/* section .welcome */

.welcome {
  background-color:#9098a0;
  background-image: url(../images/index-hero-background.jpg);
  background-repeat: no-repeat;


  margin-bottom: 69px;

  position: relative;
}

.welcome::after {
  content: "";
  display: block;
  width: 1200px;
  height: 57px;
  background-image: url(../images/divider.svg);
  position: absolute;
  bottom: 0;
}

.hero-img {
  padding: 51px 0 82px 0;
  display: inline-block;
  vertical-align: middle;
  margin: 0 auto;
}

/* section .advantages */

.advantages {
  margin-bottom: 64px;
}

.advantages-first-p {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin-bottom: 25px;
}

.advantages-second-p {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333;

  margin-bottom: 90px;
}

.advantages-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}

.advantages-list-item {
  min-width: 400px;
  min-height: 385px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.advantages-list-item-wrapper {
  min-width: 400px;
}

.advantages-list-item h3 {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;

  max-width: 175px;
  margin: 0 auto 30px auto;
}

.line {
  width: 60px;
  height: 2px;
  background-color: rgba(0, 0, 0, 0.3);
  margin: 0 auto 30px auto;
}

.advantages-list li:first-child .line,
.advantages-list li:last-child .line {
  background-color: rgba(255, 255, 255, 0.3);
}

.advantages-list-item-text {
  font-size: 18px;
  line-height: 21px;
  color: #333;
  max-width: 232px;
  margin: 0 auto;
}

.white-text {
  color: #fff;
}

.advantages-list-item-img {
  text-align: right;
}

.advantages-list li:nth-child(even) {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-list li:nth-child(odd) {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-list li:first-child,
.advantages-list li:last-child {
  background-color: #82b3d3;

}

.advantages-list li:last-child {
  flex-direction: row-reverse;
}

/* section .recomendations */

.recomendations {
  margin-bottom: 96px;
}

.recomendations-first-p {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0 auto 20px auto;
}

.recomendations-second-p {
  color: #333;
  margin: 0 0 64px 0;
}

.recomendations-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.recomendations-list-item {
  min-width: 400px;
  min-height: 385px;
}

.recomendations-list-item:nth-child(odd) {
  background-color: rgba(131, 179, 211, 0.12);
}

.recomendations-list-item-wrapper {
  padding-top: 81px;
}

.recomendations-list-item-img {
  display: block;
  margin: 0 auto 30px auto;
}

.recomendations-list-item h3 {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;

  margin: 0 auto 30px auto;
}

.recomendations-list-item p {
  font-size: 18px;
  line-height: 21px;
  color: #333;
  max-width: 230px;

  margin: 0 auto 30px auto;
}

/* section .find-hotel */

.find-hotel {
  margin: 0 0 96px 0;
}

.find-hotel-first-p {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.find-hotel-second-p {
  color: #333;
  text-align: center;
  margin: 0 0 54px 0;
}

.find-button {
  max-width: 376px;
  padding: 8px 50px;
  margin: 0 auto;
  font-size: 20px;
  line-height: 36px;
}

/* section .mailing */

.mailing {
  margin-bottom: 45px;
}

.mailing-index {
  background-color: #9098a0;
  background-image: url(../images/mailing-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;

  color: #fff;
}

.mailing-first-p {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
  padding-top: 95px;
  margin: 0 0 22px 0;
}

.mailing-second-p {
  width: 475px;
  margin: 0 auto 54px auto;
  text-align: center;
}

.mailing-list {
  padding: 0 0 101px 0;
  display: flex;
  justify-content: center;
}

.mailing-list-index {
  padding: 0 0 103px 0;
}

.mailing-list input[type="email"] {
  display: flex;
  min-width: 452px;
  border-radius: 4px 0 0 4px;
  border: 0;
  padding: 12px 20px;
  box-sizing: border-box;
  background-color: #f2f2f2;
  outline: none;
}

input[type="email"]::placeholder {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  opacity: 0.6;

}

.mailing-button {
  max-width: 232px;
  padding: 8px 50px;

  border-radius: 0 4px 4px 0;
  background-color: #82b3d3;

  font-size: 20px;
  line-height: 36px;
}

.mailing-button:hover,
.mailing-button:focus {
  background-color: #68A2CA;
}



/* main (catalog) */

/* header .main-inner-header */

.search-container {
  background-color: #9098a0;
  background-image: url(../images/search-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  padding: 35px 0 0 0;
}

.content-wrapper {
  max-width: 1060px;
  margin: 0 auto;
}

.main-inner-header-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;

  margin: 0 0 8px 0;
}


/* breadcrumbs */

.breadcrumbs {
  list-style: none;
  padding: 0;
  margin: 0 0 40px 0;
  display: flex;
}

.breadcrumbs-item {
  display: flex;
  align-items: center;
  font-size: 16px;
  line-height: 21px;
}

.breadcrumbs-item:not(:last-child)::after {
  content: url(../images/breadcrumbs-arrow.svg);
  display: flex;
  margin: 0 10px 0 0;

}

.breadcrumbs-link::before {
  content: url(../images/breadcrumbs-main.svg);
  display: flex;
  margin: 0 10px 0 0;
}

/* section .search-hotel */

.search-hotel {
  margin: 0 0 50px 0;
}

.search-hotel-filter {
  display: flex;
  justify-content: space-between;
  padding: 0 0 70px 0;
}

.hotel-filter-group-wrapper {
  display: flex;
  column-gap: 70px;
}

.hotel-filter-group {
  margin: 0;
  padding: 0;
  border: 0;
}

.hotel-filter-group-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;

  padding: 0;
  margin: 0 0 32px 0;
}

.hotel-filter-list {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 18px;
  line-height: 23px;
}

.hotel-filter-item:not(:last-child) {
  margin: 0 0 16px 0;
}


/* checkbox and radio */

.control-input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.control-checkbox {
  display: flex;
  align-items: center;
}

.control-checkbox::before {
  content: "";
  width: 20px;
  height: 19px;
  background-color: #fff;
  border-radius: 4px;
  margin-right: 16px;
}

.control-input:checked+.control-checkbox::before {
  background-image: url(../images/checkbox=true.svg);
}


.control-radio {
  display: flex;
  align-items: center;
}

.control-radio::before {
  content: "";
  width: 20px;
  height: 20px;
  background-color: #fff;
  border-radius: 50%;
  margin-right: 16px;
  display: block;
}

.control-input:checked+.control-radio::before {
  background-image: url(../images/radio=true.svg);
}

.control-checkbox:hover,
.control-radio:hover {
  opacity: 0.6;
}


.control-checkbox:active,
.control-radio:active {
  opacity: 0.3;
}


.control-input:focus+.control-checkbox::before,
.control-input:focus+.control-radio::before {
  outline: 3px solid #83B3D3;
}

.control-input:hover+.control-checkbox::before,
.control-input:hover+.control-radio::before {
  outline: none;
}


/* Price */

.hotel-filter-price-wrapper {
  display: flex;
  margin: 0 0 36px 0;
}

.input-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.input-wrapper::after {
  color: #000;
  position: absolute;
  font-size: 18px;
  line-height: 24px;
  opacity: 0.3;
  right: 20px;
}

.min-price::after {
  content: "от";
  right: 22px;
}

.max-price::after {
  content: "до";
}

.hotel-filter-price {
  font-family: PT Sans;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #000;
  background-color: #f2f2f2;
  box-sizing: border-box;
  border: 3px solid #f2f2f2;
  outline: none;
  padding: 12px 45px 12px 17px;
  width: 143px;
  height: 48px;
}

.hotel-filter-price:focus {
  border: 3px solid #83B3D3;
}

.min {
  border-radius: 4px 0 0 4px;
  margin: 0 2px 0 0;

}

.max {
  border-radius: 0 4px 4px 0;
}



/* картинка слайдера */
.slider-filter {
  position: relative;
  width: 287px;
  height: 20px;
  display: flex;
  align-items: center;
}

.slider-1,
.slider-2 {
  width: 20px;
  height: 20px;
  border-radius: 5px;
  background-color: #fff;
  position: absolute;
  color: #000;
}

.slider-2 {
  left: 206px;
}

.slider-line-1 {
  width: 287px;
  height: 4px;
  background-color: #fff;
  opacity: 0.3;
  position: absolute;
}

.slider-line-2 {
  width: 226px;
  height: 4px;
  background-color: #fff;
  position: absolute;
}



/* кнопки формы */

.search-hotel-filter-buttons {
  margin: 56px 0 0 0;
}

.search-hotel-button {
  padding: 8px 50px;
}

.submit {
  margin: 0 0 32px 0;
  background-color: #82b3d3;
}

.submit:hover,
.submit:focus {
  background-color: #68A2CA;
}

.reset {
  margin: 0 auto;
  background-color: transparent;
  width: 100%;
  height: 36px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.reset:hover {
  color: rgba(255, 255, 255, 0.6);
  background-color: transparent;
}

.reset:focus {
  border-radius: 4px;
  border: 3px solid #83B3D3;
  background-color: transparent;
}

.reset:active {
  color: rgba(255, 255, 255, 0.3);
}

/* section .searching-results */

.sorting-wrapper {
  display: flex;
  align-items: center;
  margin: 0 0 40px 0;
}

.searching-results-quantity {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
  flex-grow: 1;
}


/* select */

.select-control {
  font-family: PT Sans;
  font-size: 18px;
  line-height: 21px;
  color: #333;
  padding: 12px 20px 12px 18px;
  margin: 0 70px 0 0;
  min-width: 292px;
  appearance: none;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
  background-color: transparent;
  cursor: pointer;
  outline: none;
  z-index: 1;
}

.select-control:hover,
.select-control:focus {
  border-color: #68A2CA;
}

.select-control-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.select-control-wrapper::after {
  content: url(../images/sort-arrow.svg);
  position: absolute;
  display: flex;
  right: 90px;
}


/* Вид результатов поиска */

.view-type-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}


.view-type-item {
  min-width: 48px;
  min-height: 48px;
}

.view-type-item:last-child {
  margin-right: 0;
}

.sorting-button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
  box-sizing: border-box;
  outline: none;
}

.active-view {
  border-color: #000;
}

.sorting-button:hover {
  border-color: #000;
}

.sorting-button:focus {
  border-color: #68A2CA;
}

.sorting-button:active {
  border-color: #000;
}


/* Карточки отелей */

.hotel-list {
  list-style: none;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(3, 340px);
  gap: 20px;
  margin: 0 0 40px 0;
}

.hotel-card {
  display: grid;
  grid-template-columns: 140px 140px;
  column-gap: 20px;
  row-gap: 16px;
  box-shadow: 0 0 0 1px #E6E6E6;
  border-radius: 4px;
  padding: 20px;
}

.hotel-card-link {
  display: block;
  grid-column: 1 / -1;
  text-decoration: none;
  color: inherit;
}

.hotel-card-link:hover,
.hotel-card-link:focus {
  outline: 2px solid #68A2CA;
}

.hotel-card-image {
  display: block;
  object-fit: contain;
}

.hotel-card-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  margin: 0;
}

.hotel-type,
.hotel-price {
  font-size: 18px;
  line-height: 21px;
  color: #333;
  margin: 0;
}

.hotel-price {
  text-align: right;
}

.hotel-information {
  padding: 8px 0;
}

.add-to-favorites {
  background-color: #82b3d3;
  padding: 8px 0;
}

.add-to-favorites:hover,
.add-to-favorites:focus {
  background-color: #68A2CA;
}

.added-to-favorites {
  background-color: #7db54f;
  padding: 8px 18px;
}

.added-to-favorites:hover,
.added-to-favorites:focus {
  background-color: #6C9E42;
}

.rating-stars {
  display: block;
}

.four-stars {
  background-image: url(../images/rating-star.svg),
  url(../images/rating-star.svg),
  url(../images/rating-star.svg),
  url(../images/rating-star.svg);
  background-repeat: no-repeat;
  background-position: 0 0, 24px 0, 48px 0, 72px 0;
  background-position-y: center;
}

.three-stars {
  background-image: url(../images/rating-star.svg),
  url(../images/rating-star.svg),
  url(../images/rating-star.svg);

  background-repeat: no-repeat;
  background-position: 0 0, 24px 0, 48px 0;
  background-position-y: center;
}

.two-stars {
  background-image: url(../images/rating-star.svg),
  url(../images/rating-star.svg);

  background-repeat: no-repeat;
  background-position: 0 0, 24px 0;
  background-position-y: center;
}

.rating {
  font-size: 16px;
  line-height: 20px;
  color: #333;
  text-transform: uppercase;

  background-color: #f2f2f2;

  margin: 0;
  padding: 9px 22px 8px 23px;

  border-radius: 4px;
  box-sizing: border-box;
}


/* Линия-разделитель */

.devider {
  height: 1px;
  background-color: #e6e6e6;
  margin: 0 0 39px 0;
}



/* pagination */

.pagination-list {
  list-style: none;
  padding: 0;
  margin: 0 0 60px 0;
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
}

.pagination-item {
  display: flex;
  min-width: 60px;
  min-height: 60px;

}

.pagination-list li:first-child a {
  color: #000;
  background-color: #f2f2f2;
}

.pagination-list li:first-child a:hover,
.pagination-list li:first-child a:focus {
  background-color: #f2f2f2;
}

/* .pagination-list li:nth-child(5) {
  background-color: #f2f2f2;
} */


.pagination-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 60px;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  outline: none;

  background-color: #82b3d3;
  border-radius: 4px;
}

.pagination-link:hover,
.pagination-link:focus {
  background-color: #68A2CA;
}

.pagination-link:active {
  color: rgba(255, 255, 255, 0.3);
}

.pagination-button {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  border: 0;
  background-color: #fff;
  cursor: pointer;
  width: 100%;
  padding: 0;
}

.pagination-button:hover,
.pagination-button:focus {
  background-color: #68A2CA;
  outline: none;
  border-radius: 4px;
}

.pagination-button:active {
  color: #fff;
}

/* footer */

.main-footer {
  padding-bottom: 35px;
}

.contacts {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 35px;
  margin: 0 70px;
}


/* Соцсети */

.social {
  min-width: 142px;
}

.social-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-around;

}

.social-list-item {
  display: flex;
}

.social-link {
  padding: 10px 10px;
}

.social-link:hover svg path,
.social-link:focus svg path {
  fill: #68A2CA;
}

.social-link:active svg path {
  fill: #68A2CA;
  opacity: 0.3;
}

/* Телефон */


.contact-phone {
  font-size: 40px;
  line-height: 40px;
  text-transform: uppercase;
  text-decoration: none;
  color: #000;
}

.contact-phone:focus {
  outline: none;
}

.contact-phone:hover,
.contact-phone:focus {
  color: #756157;
}

.contact-phone:active {
  opacity: 0.3;
}

/* Академия */

.htmlacademy-link {
  display: flex;
}

.htmlacademy-link:focus {
  outline: none;
}

.htmlacademy-link:hover svg path,
.htmlacademy-link:focus svg path {
  fill: #756157;
}

.htmlacademy-link:active svg path {
  fill: #756157;
  opacity: 0.3;
}
