@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/ptsans-400.woff2) format("woff2");
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(../fonts/ptsans-700.woff2) format("woff2");
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;

  width: 1280px;
  margin: 0 auto;

  background-color: #f2f2f2;
}

.page-container {
  width: 1200px;
  margin: 0 auto;

  background-color: #fff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.button {
  cursor: pointer;

  text-decoration: none;

  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #fff;

  background-color: #756157;

  width: 140px;
  height: 36px;

  border: 0;
  border-radius: 4px;

  padding: 0;

  display: flex;
  align-items: center;
  justify-content: center;
}

/* Header */

.main-header {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.navigation-list {
  list-style: none;
}

.navigation-link {
  color: #000;
  text-decoration: none;
}

.navigation-user {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.navigation-user:last-child a {
  color: #fff;
}

/* main (index)*/

.main-index {
  text-align: center;
}

/* section .welcome */

.welcome {
  background-color:tomato;
  background-image: url(../images/index-hero-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;

  margin-bottom: 69px;
}

.welcome::after {
  content: "";
  display: block;
  width: 1200px;
  height: 57px;
  background-image: url(../images/divider.svg);
}

.hero-img {
  padding-top: 51px;
  padding-bottom: 82px;
  display: block;
  margin: 0 auto;
}

/* section .advantages */

.advantages {
  margin-bottom: 64px;
}

.advantages-first-p {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;

  margin-bottom: 25px;
}

.advantages-second-p {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333;

  margin-bottom: 90px;
}

.advantages-list {
  list-style: none;
}

.advantages-list-item h3 {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}

.advantages-list-item img {
  display: block;
}

.advantages-list-item p {
  font-size: 18px;
  line-height: 21px;
  color: #333;
}

.advantages-list li:first-child, .advantages-list li:last-child {
  color: rgb(165, 15, 15);
}

/* section .recomendations */

.recomendations {
  margin-bottom: 96px;
}

.recomendations-first-p {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;

  width: 505px;
  margin: 0 auto 20px auto;
}

.recomendations-second-p {
  color: #333;
}

.recomendations-list {
  list-style: none;
}

.recomendations-list-item h3 {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.recomendations-list-item p {
  font-size: 18px;
  line-height: 21px;
  color: #333;
}

/* section .search-hotel */

.search-hotel-first-p {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;

  margin-bottom: 20px;
}

.search-hotel-second-p {
  color: #333;
  text-align: center;

  margin: 0 0 54px 0;
}

.search-button {
  width: 376px;
  height: 52px;
  margin: 0 auto 104px auto;

  font-size: 20px;
  line-height: 36px;
}

/* section .mailing */

.mailing-index {
  background-color: tomato;
  background-image: url(../images/mailing-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;

  color: #fff;

  margin-bottom: 45px
}

.mailing-first-p {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;

  padding-top: 96px;
}

.mailing-second-p {
  width: 475px;
  margin: 0 auto 54px auto;
  text-align: center;
}

.mailing-list {
  padding-bottom: 104px;

  display: flex;
  justify-content: center;
}

input[type="email"] {
  display: flex;
  width: 452px;
  height: 52px;

  border-radius: 4px 0 0 4px;
  border: 0;

  padding: 0 0 0 20px;

  background-color: #f2f2f2;
}

input[type="email"]::placeholder {
  font-size: 18px;
  line-height: 24px;
  opacity: 0.6;

}

.mailing-button {
  display: flex;
  width: 232px;
  height: 52px;

  border-radius: 0 4px 4px 0;

  background-color: #82b3d3;

  font-size: 20px;
  line-height: 36px;
}

/* main (catalog) */

/* header .main-inner-header */



/* section .search-hotel */
.search-container {
  background-color: tomato;
  background-image: url(../images/search-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;

  color: #fff;

  margin-bottom: 50px;
}

.main-inner-header-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  text-align: center;
}

.breadcrumbs {
  list-style: none;
}

.hotel-filter-group {
  margin: 0;
  padding: 0;
  border: 0;
}

.hotel-filter-list {
  list-style: none;
}

.search-hotel-button {
  width: 191px;
  height: 36px;
}

.submit {
  background-color: #82b3d3;
}

.reset {
  background-color: transparent;
}

/* section .searching-results */

.searching-results-quantity {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.select-control {
  font-size: 18px;
  line-height: 21px;
  color: #333;
}

.view-type-list {
  list-style: none;
}

.view-type-item {
  width: 48px;
  height: 48px;

  border: 2px solid #e5e5e5;
  border-radius: 4px;

  box-sizing: border-box;

  position: relative;
}

.view-type-item:first-child {
  border-color: #000;
}

.sorting-button {
  display: block;
  width: 48px;
  height: 48px;
}

.hotel-list {
  list-style: none;
}

.hotel-card-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}

.hotel-type,
.hotel-price {
  font-size: 18px;
  line-height: 21px;
  color: #333;
}

.add-to-favorites {
  background-color: #82b3d3;
}

.added-to-favorites {
  background-color: #7db54f;
}

.rating {
  font-size: 16px;
  line-height: 20px;
  color: #333;
  text-transform: uppercase;

  background-color: #f2f2f2;

  width: 140px;
  height: 37px;

  display: flex;
  align-items: center;
  justify-content: center;
}



.pagination-list {
  list-style: none;
  display: flex;
}

.pagination-list li:first-child {
  background-color: #f2f2f2;
}

.pagination-list li:first-child a {
  color: #000;
}

.pagination-list li:nth-child(5) {
  background-color: #f2f2f2;
}

.pagination-item {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 60px;
  height: 60px;
  margin-right: 8px;

  background-color: #82b3d3;
}

.pagination-link {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 60px;
  height: 60px;

  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
}

/* footer */

.contacts {
  display: flex;
  justify-content: space-between;
  padding-bottom: 35px;
}

.social {
  width: 142px;
  margin-left: 70px;
}

.social-list {
  list-style: none;
  margin: 0;
  display: flex;
}

.phone {
  width: 720px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-phone {
  font-size: 40px;
  line-height: 40px;
  text-transform: uppercase;
  text-decoration: none;
  color: #000;
}

.academy {
  width: 115px;
  margin-right: 70px;

  display: flex;
  align-items: center;
}
